@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

/* Global rules */
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: #436277;
}
a {
    text-decoration: none;
    color: inherit;
}
h2, h3 {
    line-height: 2.5em;
}
fieldset legend {
    display: none;
}

/* Header */
header {
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}
#logo {
    font-size: 2em;
    font-weight: 100;
}

/* Navigation links */
#menu {
    display: flex;
    font-size: 1.1em;
    letter-spacing: 0.2em;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    list-style-type: none;
    margin-right: 30px;
}
#menu a:hover{
    border-bottom: 1px solid #774348;
}
.active {
    border-bottom: 1px solid #774348;
}

/* Main page */
#main-container {
    background: url(../images/main.jpeg);
    background-size: cover;
    background-position: center;
    padding: 40px;
    min-height: 60vh;
}
.main-content {
    background: rgba(77,43,48, 0.5);
    color: #cccccc;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
}
#timetable > li {
    list-style-type: none;
}

/* Gallery page */
#gallery-container {
    padding: 0 40px 40px 40px;
}
.gallery-content {
    text-align: center;
}
.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}
.gallery-image-container img {
    max-height: 100%;
    max-width: 100%;
}

/* About page */
#about-container {
    background: url(../images/about-us.jpeg);
    background-size: cover;
    background-position: center;
    padding: 40px;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-content {
    background: rgba(77,43,48, 0.5);
    color: white;
    padding: 30px;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-content > div {
    margin: 10px;
}

/* Signup page */
#signup-container {
    background: url(../images/main.jpeg);
    background-size: cover;
    background-position: center;
    padding: 40px;
    min-height: 60vh;
}
.signup-header {
    text-align: center;
    color: white;
}
.signup-content {
    background: rgba(77,43,48, 0.5);
    color: #cccccc;
    padding: 40px;
    text-align: center;
    width: 450px;
    margin: 0 auto;
}
.form-item {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.form-label {
    display: inline-block;
    text-align: left;
}
.form-input {
    width: 350px;
    text-align: left;
}
.form-action {
    text-align: right;
}
.form-action input {
    background-color: #774348;
    border: none;
    color: #cccccc;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* Social media links */
.social-media-container {
    text-align: center;
}
#social-media-links {
    margin: 40px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
#social-media-links li {
    list-style-type: none;
    margin: 20px;
}
#social-media-links li:hover {
    list-style-type: none;
    margin: 20px;
    color: #774348;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    /* Header */
    header {
        flex-direction: column;
    }

    /* Navigation links */
    #menu {
        font-size: 0.9em;
        white-space: nowrap;
        letter-spacing: 0;
    }

    /* Gallery page */
    .gallery-content > h2 {
        font-size: 1.2em;
    }
    .gallery-images {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    /* About page */
    #about-container {
        padding: 40px;
        min-height: 60vh;
        display: block;
    }

    /* Signup page */
    .signup-content {
        width: inherit;
    }
    .form-item {
        flex-direction: column;
    }
    .form-input {
        width: 100%;
        margin-top: 10px;
    }
}
