@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: #436277;
}
header {
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}
#logo {
    font-size: 2em;
    font-weight: 100;
}
/* navigation links */
#menu {
    display: flex;
    font-size: 1.1em;
    letter-spacing: 0.2em;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    list-style-type: none;
    margin-right: 30px;
}   
 
#menu a:hover{
    border-bottom: 1px solid #774348;
}
.active {
    border-bottom: 1px solid #774348;
}

h1, h2 {
    line-height: 2.5em;
}
#main-container {
    background: url(../images/pexels-photo-9736891.jpeg);
    background-size: cover;
    background-position: center;
    padding: 40px;
    min-height: 60vh;
}
.main-content {
    background: rgba(77,43,48, 0.5);
    color: #cccccc;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
}
.social-media-container {
    text-align: center;
}
#social-media-links {
    margin: 40px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
#social-media-links li {
    list-style-type: none;
    margin: 20px;
}

#social-media-links li:hover {
    list-style-type: none;
    margin: 20px;
    color: #774348;
}
